<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.persistence.BookMapper">

<select id="bookSeq" resultType="int">
	select max(book_no) from book_tbl_06
</select>

<insert id="bookInsert" parameterType="com.yedam.domain.BookVO">
	insert into book_tbl_06
	values (#{bookNo}, #{bookName}, #{bookCoverimg}, #{bookDate}, #{bookPrice}, #{bookPublisher}, #{bookInfo})
</insert>

<select id="getBookList" resultType="com.yedam.domain.BookVO">
	select book_no bookNo, book_name bookName, book_coverimg bookCoverimg, book_date bookDate, 
			book_price bookPrice, book_publisher bookPublisher, book_info bookInfo
	from book_tbl_06
<!-- 	select * from book_tbl_06 -->
</select>

<select id="getRent" resultType="com.yedam.domain.BookVO">
	select r.book_no bookNo, b.book_name bookName, sum(rent_price) as rentSum, count(r.rent_no) as rentCnt
	from rent_tbl_06 r, book_tbl_06 b
	where r.book_no=b.book_no
	group by r.book_no, b.book_name
	order by r.book_no
</select>

</mapper>